// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.size {
    height : 235px;
    width : 377px;
}
.size_video{
        height : 50%;
    width : 50%;
}
.py-5{
    margin-top : 40px;
}
.sally_img {
    height : 450px;
    width : 700px;
}
